html, body {
    margin: 0;
    padding: 0;
    width: 100%;
      height: 100vh;
      display: flex;
      align-items: top;
      justify-content: center;
    background-color: black;
  }
  
  @font-face {
    font-family: 'lanord-bold';
    src: url('assets/lanord/LaNord-Bold.eot');
    src: url('assets/lanord/LaNord-Bold.eot?#iefix') format('embedded-opentype'),
      url('assets/lanord/LaNord-Bold.woff2') format('woff2'), 
      url('assets/lanord/LaNord-Bold.woff') format('woff');
  }

  .sketch{
      width:auto;
      height: 500px;
      z-index: -1;
    
     
    }
    #sketch-holder{
    margin: -50px;
    margin-left:-100px;
    z-index: -1;
     
    }