
.jeremy:hover:before{
    content: '';
    height:100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    bottom: 0; right: 0; 
    z-index: -1;
    background: url(../assets/home/portrait.png) no-repeat center center fixed;
  }
  
  .branding:hover:before{
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background: url(../assets/gif/kimmykonglarge.gif);
  }
  
  /* .motion:hover:before{
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background: url(../assets/gif/kimmykonglarge.gif);
  } */
  
  .sva:hover:before{
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background: url(../assets/home/sva-logo.png);
    background-size: auto auto;
  }
  
  /* .email:hover:before{
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background: url(../assets/home/email.gif);
  }
  
  .insta:hover:before{
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background: url(../assets/home/insta.MOV);
    background-repeat: no-repeat;
    background-position: center center;

  } */
  