
/* general */
html {
  height: 100vh;
}

@font-face {
  font-family: 'lanord-semilight';
  src: url('assets/lanord/LaNord-SemiLight.eot');
  src: url('assets/lanord/LaNord-SemiLight.eot?#iefix') format('embedded-opentype'),
    url('assets/lanord/LaNord-SemiLight.woff2') format('woff2'), 
    url('assets/lanord/LaNord-SemiLight.woff') format('woff');
}

/* I only use one color to accent everything and this is it*/
:root {
  --main-color: #0000EE;
}


body{
  margin:0;
  height: 100vh;
  /* dont select my text or else */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  min-height: 100vh;

}

video.video {
  object-fit: cover;
  height:100vh;
  width: 100vw;
  position: absolute;
  z-index: -1000;
  opacity:0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-template-rows: auto auto;
}

/* The Grid */
.three-eleven{
  margin-top: 40px;
  grid-column-start: 3;
  grid-column-end:11;
}

h1 {
  font-family: 'lanord-semilight', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight:normal;
  margin: 0;
}

p {
  margin: 0;
  font-family: 'lanord-semilight', sans-serif;
  font-size: 24px;
  line-height: 1.2;
}

a:hover:before {
  display : none;
}

.boxlink{
  background: #fff;
  font-family: 'lanord-semilight', sans-serif;
  font-size: 36px;
  color: var(--main-color);
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
  padding: 1px 8px 1px 8px;
  border-radius: 36px;
}

.boxlink:hover{
  background-color: var(--main-color);
  text-decoration: none;
  color: #FFFFFF;
  border-color: var(--main-color);
  box-shadow: 0px 0px 6px 0px var(--main-color);
}

.boxlink:active{
  background-color: rgba(0, 0, 238, 0.5);
  text-decoration: none;
  color: #FFFFFF;
  border-color: var(--main-color);
  padding: 1px 8px 1px 8px;
}

/* home */

.grab {
  cursor: -webkit-grab; cursor: grab;
}

.grab:active {
  cursor: -webkit-grabbing; cursor: grabbing;
}

.jeremy:hover:before{
  content: '';
  height:100vh;
  width: 100vw;
  object-fit: cover;
  position: absolute;
  bottom: 0; right: 0; 
  z-index: -1;
  background: url(../assets/home/portrait.png) no-repeat center center fixed;
}

.branding:hover:before{
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  background: url(../assets/gif/kimmykonglarge.gif);
}

.digital:hover:before{
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  background: url(../assets/gif/kimmykonglarge.gif);
}

.motion:hover:before{
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  background: url(../assets/gif/kimmykonglarge.gif);
}

.sva:hover:before{
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  background: url(../assets/home/sva-logo.png);
  background-size: auto auto;
}

.email:hover:before{
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  background: url(../assets/home/email.gif);
}

.insta:hover:before{
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  background: url(../assets/home/insta.MOV);
  background-repeat:no-repeat;
  background-position: center center;
}

/* projects */
section{
  margin-top: 60px;
}

img{
  height: 100%;
  width: 100%;
  cursor: auto;
}

.gallery{
  margin: 5px 0 10px 0;
  position: relative;

}

.next{
  position: absolute;
  background-color:rgba(255, 0, 0, 0.247);
  height: 99%;
  width: 30%;
  top: 0px;
  right: 0px; 
  cursor: url(../assets/next.png), pointer;
}

.prev{
  position: absolute;
  background-color:rgba(255, 0, 0, 0.247);
  height: 99%;
  width: 30%;
  top: 0px;
  left: 0px; 
  cursor: url(../assets/prev.png), pointer;
}

/* about */





/* -------------------MOBILE STUFF--------------------------- */
@media screen and (max-width: 600px) {
  
  body {
    margin-top: 0px;
  }
  main{
    padding: 5vw;
  }
  .three-eleven{
    grid-column-start: 1;
    grid-column-end:13;
  }
  p{
    font-size: 36px;
  }
  .m-hidden{
    display: none;
  }
}


/*
.one-two{
  grid-column-start: 1;
  grid-column-end:2;

}

.one-thirteen{
  grid-column-start: 1;
  grid-column-end:13;
}

.two-ten{
  grid-column-start: 2;
  grid-column-end: 10;
}

.two-four{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-auto-flow: column;
}

.two-five{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-auto-flow: column;
}

.two-six{
  grid-column-start: 2;
  grid-column-end: 6;
  grid-auto-flow: column;
}

.two-twelve{
  grid-column-start: 2;
  grid-column-end: 12;
  margin-left: -5px;
}
*/


/*
.two-eight{
  grid-column-start: 2;
  grid-column-end: 8;
}

.four-five{
  grid-column-start: 4;
  grid-column-end: 5;
}
.four-six{
  grid-column-start: 4;
  grid-column-end: 6;
  grid-auto-flow: column;
}

.four-ten{
  grid-column-start: 4;
  grid-column-end: 10;
}

.five-eight{
  grid-column-start: 5;
  grid-column-end: 8;
  grid-auto-flow: column;
}

.six-seven{
  grid-column-start: 6;
  grid-column-end: 7;
}
.six-eight{
  grid-column-start: 6;
  grid-column-end: 8;
  grid-auto-flow: column;
}
.eight-twelve{
  grid-column-start: 8;
  grid-column-end: 12;
  grid-auto-flow: column;
  margin-top: 1.5%;
}
*/