@font-face {
  font-family: 'lanord-semilight';
  src: url('./lanord/LaNord-SemiLight.eot');
  src: url('./lanord/LaNord-SemiLight.eot?#iefix') format('embedded-opentype');
  src: url('./lanord/LaNord-SemiLight.woff2') format('woff2');
  src: url('./lanord/LaNord-SemiLight.woff') format('woff')
}

/* the only color used */
:root {
  --main-color: #0000EE;
}

body{
  margin:0;
  height: 100vh;
  /* dont select my text or else */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  min-height: 100vh;
  background-color: #f2f2f2;

}

.main-container{
  /* margin:0 15% 0 15%; */
  max-width: 850px;
  margin: auto;
  
}

/* If Mobile we want to change styles */
@media only screen and (max-width: 600px) {
  .main-container{
    margin:0px 10px 0 10px;
  }
}

.section-container{
  width: 100%;
  max-width:965px;
  margin:40px auto 0 auto;
}

video.video {
  object-fit: cover;
  height:100vh;
  width: 100vw;
  position: absolute;
  z-index: -1000;
  opacity:0;
}

h1 {
  font-family: 'lanord-semilight', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;

}
@media only screen and (max-width: 600px) {
  h1{
    font-size: 30px;
  }
}

p {
  margin: 0;
  font-family: 'lanord-semilight', sans-serif;
  font-size: 18px;
}

a:hover:before {
  display : none;
}

a:visited {
  color: var(--main-color);
}

.boxlink{
  background: #f2f2f2;
  font-family: 'lanord-semilight', sans-serif;
  font-size: 36px;
  color: var(--main-color);
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
  padding: 1px 8px 1px 8px;
  border-radius: 36px;
  transition: all .25s;
  transition-timing-function: ease-out;
}

@media only screen and (max-width: 600px) {
  .boxlink{
    font-size: 30px;
  }
}

.preload {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
}

@media only screen and (max-width: 600px) {
  .preload{
    display: none;
  }
}


.preload-finish {
  opacity: 0;
  pointer-events: none;
}


.boxlink:hover{
  background-color: var(--main-color);
  text-decoration: none;
  color: #f2f2f2;
  border-color: var(--main-color);
  transition: all .15s;
  transition-timing-function: ease-out;
  
}

.boxlink:active{
  background-color: rgba(0, 0, 238, 0.5);
  text-decoration: none;
  color: #f2f2f2;
  border-color: var(--main-color);
  padding: 1px 8px 1px 8px;
  
}

.grab {
  cursor: -webkit-grab; cursor: grab;
}

.grab:active {
  cursor: -webkit-grabbing; cursor: grabbing;
}

.stick{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
}

section {
  padding: 25px 0 25px 0;
}

.description{
  display: flex;
}

.column1{
  flex: 3;
  margin-right: 15px;
}

/* If Mobile we want to change styles */
@media only screen and (max-width: 600px) {
  .column1{
    flex: 1;
    margin-right: 0px;
  }
}

.column2{
  flex: 1;
  text-align: left;
  margin-left: 100px;
}

/* If Mobile we want to change styles */
@media only screen and (max-width: 600px) {
  .column2{
    display: none;
  }
}


/* If Mobile we want to change styles */
@media only screen and (max-width: 600px) {
  .mobileremove{
    display: none;
  }
}