
.projectlist {
    height: 65vh;
}

.flexforcolumns{
    display: flex;
    margin-bottom: 40px;
  }

.lefthalf{
    flex: 2;
    margin-right: 15px;
}

.righthalf{
    flex: 2;
    margin-left: 15px;
}

.resize{
    height: 100%;
    width: 100%;
    margin: 0;
}

.caption {
    font-family: 'lanord-semilight', sans-serif;
    font-size: 12px;
    text-align: center;
    margin: -10px 0 0 0;
}

.commentbox {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
}

img.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}