.gallery-container{
    margin: 5px 0 10px 0;
    position: relative;
    overflow: hidden;
    
  }
  
  .gallery-slide{
    width: 100%;
  }

  .gallery-image-container {
    display:inline-block;
    /* flex; */
    height:auto;
    min-height:200px;
    max-height:1000px;

  }

  .gallery-image {
    width:100%;
    object-fit: fill;
  }
  
  .next{
    position: absolute;
    height: 99%;
    width: 30%;
    top: 0px;
    right: 0px; 
    cursor: url(../assets/next.png), pointer;
  }
  
  .prev{
    position: absolute;
    height: 99%;
    width: 30%;
    top: 0px;
    left: 0px; 
    cursor: url(../assets/prev.png), pointer;
  }
  
 
  .jeremy:hover:before{
    content: '';
    height:100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    bottom: 0; right: 0; 
    z-index: -1;
    background: url(../assets/home/portrait.png) no-repeat center center fixed;
  }

  img{
    cursor: auto;
  }
  

