@font-face {
    font-family: 'lanord-bold';
    src: url('assets/lanord/LaNord-Bold.eot');
    src: url('assets/lanord/LaNord-Bold.eot?#iefix') format('embedded-opentype'),
      url('assets/lanord/LaNord-Bold.woff2') format('woff2'), 
      url('assets/lanord/LaNord-Bold.woff') format('woff');
}

@font-face {
    font-family: 'lanord-semilight';
    src: url('./lanord/LaNord-SemiLight.eot');
    src: url('./lanord/LaNord-SemiLight.eot?#iefix') format('embedded-opentype');
    src: url('./lanord/LaNord-SemiLight.woff2') format('woff2');
    src: url('./lanord/LaNord-SemiLight.woff') format('woff')
  }

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
    background-color: #20c4f4;
}

.sketch{
    width:auto;
    height: 500px;
    z-index: -1;

    
}

#sketch-holder{
margin: auto; 
}

.linktowebsite {
    font-family: 'lanord-semilight', sans-serif;
    position: absolute;
    bottom: 2%;
    text-align: center;
    z-index: 1;
    color: #fff;
}

a:link {
    color: #fff;
}

a:visited {
color: #fff;
}
